/* Mobile first - base styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

/* modern web design often utilizes system font stacks or web fonts like "Roboto" or "Open Sans",
   which can offer a more contemporary aesthetic and are also optimized for mobile.  */
html,
body {
    font-family: 'Verdana', sans-serif;
    color: black;
    padding: 10px;
    display: flex;  
    flex-direction: column;              
    align-items: center;
    gap: 1rem;          
    /* min-height: 100vh; Removed because it creates a ver. scroll bar */
}

body > img {
    /* Adjust this value as needed to desired size */
    width: 3.75rem; 
    height: auto;
    /* Optional: Prevents the image from becoming huge on very large screens */
    max-width: 100px;
}

body > p {
    font-family: roboto;
    font-size: 0.8rem;
    width: 18rem;
}

h1 {
    font-family: cursive;
    font-size: 1.25rem;
}

h3 {
    font-size: 0.8rem;
}

span {
    font-weight: 700;
}

footer {
    width: 21rem;
    background-color: #8d7760;
    padding: 0.5rem;
    border-radius: 10px;
    text-align: center;
}

footer .copyright {
    font-style: italic;
    font-size: 0.75rem;
    font-weight: 500;
    color: #fff;
}

.whatsapp-number {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.whatsapp-number a,
.instagram-link a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 3px;
    text-decoration: none;
    color: inherit;
    /* outline: 2px solid green; */
    /* ADD THIS: */
    /* Prevents items from shrinking below their content size */
    flex-shrink: 0;
    /* Forces the anchor to adopt the maximum required width of its contents */ 
    width: max-content;         
}

.whatsapp-number img,
.instagram-link img {
    /* Adjust this value as needed to desired size */
    width: 1.9rem; 
    height: auto;
    /* Optional: Prevents the image from becoming huge on very large screens */
    max-width: 30px;
    /* outline: 2px solid red; */
}

.whatsapp-number span,
.instagram-link span {
    font-size: 0.75rem;
}

.cupcakes {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin: 5px;
}

.cup-1 {
    max-width: 20%;
    /* Name, duration, timing function, iteration count */
    animation: cup-1 4s linear infinite;
}

.cup-2 {
    max-width: 20%;
    /* Name, duration, timing function, iteration count */
    animation: cup-2 2s linear infinite;
}

@keyframes cup-1 {
    from {
        transform: rotate(0deg);
    }
      to {
        transform: rotate(360deg); /* Counterclockwise rotation */
    }
}

@keyframes cup-2 {
    50% {
        transform: rotate(90deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

/* MEDIA QUERIES */

/* Mobiles (Large) / Tables (Portrait) styles */
@media screen and (min-width: 686px) {
    h1 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.3rem;
    }

    body > img {
        width: 4.5rem; 
        height: auto;
        max-width: 100px;
    }

    body > p {
        font-size: 0.9rem;
        width: 80%;
    }

    .whatsapp-number {
        display: flex;
        flex-direction: row;
        gap: 30px;
    }

    .whatsapp-number img,
    .instagram-link img {
        width: 2.3rem; 
        height: auto;
        max-width: 50px;
    }

    .cupcakes {
        gap: 195px
    }

    footer {
        width: 90%;
        background-color: #8d7760;
        padding: 0.5rem;
        border-radius: 10px;
        text-align: center;
    } 

    footer .copyright {
        font-size: 0.85rem;
    }
}

/* Tablets (Landscape) / Laptops (Small) styles */
@media screen and (min-width: 900px) {
    h1 {
        font-size: 2.6rem;
    }

    h3 {
        font-size: 1.7rem;
    }

    body > img {
        width: 4.7rem; 
        height: auto;
        max-width: 100px;
    }

    body > p {
        font-size: 1rem;
        width: 90%;
    }

    .whatsapp-number {
        display: flex;
        /* flex-direction: column; */
        gap: 40px;
        margin: 15px;
    }

    .instagram-link {
        margin: 15px;
    }

    .whatsapp-number img,
    .instagram-link img {
        width: 2.5rem; 
        height: auto;
        max-width: 50px;
    }

    .cupcakes {
        gap: 230px
    }

    footer {
        width: 95%;
        background-color: #8d7760;
        padding: 0.5rem;
        margin: 15px;
        border-radius: 10px;
        text-align: center;
    } 

    footer .copyright {
        font-size: 1rem;
    }
}


/* Desktops styles */
@media screen and (min-width: 1200px) {
    
}

/* Orientation sample */
@media screen and (min-width: 768px) and (orientation: landscape) {

}